nose
sphinx
biopython
editdistance
statistics
matplotlib
scipy
Pillow
bitarray
-e git+http://github.com/dna-storage/dnastorage.git#egg=dnastorage
-e git+http://github.com/dna-storage/dnapreview.git#egg=dnapreview
