nose
sphinx
editdistance
statistics
numpy==1.19.5
matplotlib==3.3.0
scipy==1.5.4
biopython
Pillow
bitarray==1.9.2
-e git+http://github.com/dna-storage/dnastorage.git#egg=dnastorage
-e git+http://github.com/dna-storage/dnapreview.git#egg=dnapreview
